* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  --dark-green: #173e43;
  --light-green: #3fb0ac;
  --gray: #dddfd4;
  --light-gray: #f6f8ec;
  --yellow: #fae596;
}

html {
  font-size: 100%;
  font-weight: 500;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-green);
}

li {
  display: inline-block;
  list-style: none;
}

button:focus,
button:active {
  outline: none;
}

/**
  * Sort button
**/

.button-container {
  display: inline-block;
  padding: 4rem 2rem;
}

.btn {
  padding: 1rem 3rem;
  background-color: var(--yellow);
  color: var(--dark-green);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 2px 7px -1px var(--dark-green);
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--dark-green);
  color: var(--gray);
}

.sort-result-container {
  overflow: hidden;
  padding: 0 2rem 4rem 2rem;
}

.page-heading {
  padding: 2rem;
  background-color: var(--dark-green);
  color: var(--gray);
  text-align: center;
}

.collapsible-content {
  display: none;
  font-size: 0.7rem;
  line-height: 2;
  word-spacing: 4px;
}

.collapsible {
  position: relative;
  padding: 1rem 0.5rem;
  /* background-color: var(--dark-green); */
  color: var(--dark-green);
  outline: none;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.arrow {
  width: 0px;
  height: 0px;
  /* margin-top: 23px; */
  border: 7px solid transparent;
  margin-top: 10px;
  border-top-color: var(--dark-green);
}

.arrow:hover {
  border-top-color: var(--light-green);
}

.collapsible.active .arrow {
  margin-top: -8px;
  border-bottom-color: var(--light-green);
  border-top-color: transparent;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 5rem;
  box-shadow: 2px 2px 7px -1px var(--dark-green);
}

.country-name {
  min-height: 4rem;
  margin-top: 0.5rem;
  text-align: center;
}

.country-name:hover {
  color: var(--light-green);
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: all 0.2s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--yellow);
  min-width: 160px;
  overflow: auto;
  box-shadow: 2px 2px 7px -1px var(--dark-green);
  z-index: 1;
}

.dropdown-item {
  color: black;
  padding: 1rem 1.35rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown-item:hover {
  background-color: var(--dark-green);
  color: var(--gray);
}

.show {
  display: block;
}

/**
  * Search button
**/
.search-container {
  display: inline-block;
  position: relative;
}

.search-input {
  border: 1px solid var(--gray);
  width: 30rem;
  margin-left: -5px;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  color: var(--light-green);
  box-shadow: 2px 2px 7px -1px var(--gray);
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--light-green);
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-icon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 13px;
  right: 20px;
  z-index: 20;
}

.search-result-container {
  display: flex;
  flex-wrap: wrap;
  width: 75rem;
  max-width: 100%;
  margin: 0 auto 3rem auto;
}

.country-info-container {
  /* display: flex; */
  width: 50%;
  max-width: 50%;
  flex-grow: 1;
  background-color: var(--light-gray);
}

.map {
  width: 50%;
  max-width: 50%;
  height: 450px;
  overflow: hidden;
}

.name-flags {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.flag {
  width: 8rem;
  height: 5rem;
}

.info {
  padding: 3rem;
  font-size: 1.2rem;
}

.info p:not(:last-child) {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .map {
    width: 100%;
  }

  .country-info-container {
    width: 100%;
  }
}